# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Database Cache
# =========================
*.sqlite3
*.db

# =========================
# Audio Files
# =========================
*.mp3
*.wav
*.m4a

# =========================
# AI Model Files
# =========================
*.onnx
*.bin

# =========================
# VSCode
# =========================
.vscode/settings.json

# =========================
# Temporary Files
# =========================
*.tmp
*.bak